[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
jupyter = "==1.*"

[packages]
requests = "==2.*"
pydantic = "==2.*"
pillow = "==10.*"

[requires]
python_version = "3.11"

[scripts]
format = "black ."
format-check = "black . --check"
